*:after {
	box-sizing: border-box;
}


body {
	background-color: lightpink;
}

img{

	max-width: 400%;
}

.nav-logo {
	width: 250px;
}

.toggle-icon{
	width: 40-x;
	float: right;
}

@media (min-width: 768px){
	/* Header */
	.toggle-icon {
		display: none;
	}



.nav-list{
	background: white;
	box-shadow: 0px 0px 10px;
	margin: 0;
	padding: 1rem 0;
	border-radius:var(--radius);
	display:flex;
	justify-content: flex-end;
    align-items:center;
}

.nav-item{
	list-style:none;
	margin-right:2rem;
}

.nav-item a {
	text-decoration:none;
	color:black;
}

.wrapper h1{
	text-align: center;
	font-size: 30px;
	font-family: helvetica;
}
.img-area{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	
}

.single-img{
	padding: 0 20px 20px;
}
img:hover{
	display: flex;
	opacity: .5;
	transition: .9s;
}